<div class="background-none folio">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/beachcombers.png" alt="Beachcombers"></div>
    <div>
      <h2 class="text-center"><a href="http://www.beachcombersfairport.com/">Beachcombers</a></h2>
      <p>The Beachcombers business and branding included
        <ul>
          <li>Branding Development</li>
          <li>Business Cards</li>
          <li>Website Landing Page</li>
          <li>Social Media Setup and Automation</li>
          <li>Online scheduling configuration</li>
        </ul>
      </p>
    </div>
  </div>
</div>
