<div class="background-green folio folio-light">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/dishdisposal.png" alt="Downtown Cleveland Alliance"></div>
    <div>
      <h2 class="text-center"><a href="http://dishdisposal.com/">Dish Disposal</a></h2>
      <p>The Dish Disposal website is a fully responsive website built using
        <ul>
          <li>HTML5</li>
          <li>SASS</li>
          <li>Bootstrap</li>
          <li>PHP</li>
        </ul>
      </p>
    </div>
  </div>
</div>
