<div class="background-none folio">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/fairportharbor.png" alt="Fairport Harbour Tourism Council"></div>
    <div>
      <h2 class="text-center"><a href="http://www.fairportharbortourism.com/">Fairport Harbor Tourism Council</a></h2>
      <p>The Fairport Harbor Tourism Council walking map included work with the following
        <ul>
          <li>Adobe Photoshop</li>
          <li>Adobe InDesign</li>
          <li>Adobe Illustrator</li>
        </ul>
      </p>
    </div>
  </div>
</div>
