<footer class="background-gray">
  <div class="container flex-container theme-showcase">
    <h4 class="copy-date"><a href="mailto:hello@davidwickman.com">David Wickman</a> &copy; <span></span></h4>
    <p class="copy">
      <a href="https://www.facebook.com/wickdaddy" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.twitter.com/davidwickman" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://www.linkedin.com/in/davewickman" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="http://www.github.com/davidwickman" target="_blank"><i class="fa fa-github"></i></a>
    </p>
  </div>
</footer>