---
title: Front End Development and Design
meta: I am David Wickman, a passionate developer and designer in Cleveland, Ohio.
heading: 'davidwickman.com'
lead: Welcome to my blog!
---

<div class="container theme-showcase">
  <p class="copy text-center">Hello! I am David Wickman, a passionate developer and designer in Cleveland, Ohio. Below you will find some of my latest development and design projects, as well as my experience in web and design technologies. I nearly eat, sleep, and breathe development, but I have included a few things that I enjoy outside of the development world.</p>
</div>
<div id="development" class="background-green">
  <h1 class="text-heading text-light text-center text-heading-spacing">Development & Design</h1>
</div>
  {{> dca}} 
  {{> tft}} 
  {{> beachcombers}} 
  {{> dd}} 
  {{> fhtc}}
</div>
<div id="experience" class="background-red">
  <h1 class="text-heading text-light text-center text-heading-spacing">Experience</h1>
</div>
<div class="container theme-showcase">
  <p class="copy text-center">I often get asked, "How long have you been doing this?" To this, I respond, "My dad, who is also a programmer, brought home our first computer prior to the <a href="http://www.internet-guide.co.uk/ALIWEB.html">Aliweb launch in 1993</a> and after writing my first line of code, I have not been able to put down a computer." I have since completed my BBA from Cleveland State as well as tought Desktop Publishing at my alma mater Fine Arts School, and have work on and led teams at startups, small businesses, and Fortune 500 companies.</p>
  <p class="copy text-center">I'm always doing fun, new stuff. <a href="{{#is basename '404'}}../{{/is}}#contact">We should connect!</a></p>
</div>
<div id="extras" class="background-blue">
  <h1 class="text-heading text-light text-center text-heading-spacing">Extras</h1>
</div>
<div class="container theme-showcase">
  <p class="copy text-center">Two things that I try to carry through everything I do and try to pass along to my beautiful wife and two children, are the two words, passion and craft. These concepts bridge the gap between technology and any discipline or activity. Below are a few of my passions outside of technology.</p>
  <div class="extras">
    <div>
      <img src="/assets/images/11084951_1042874019075703_893274314_n.jpg" alt="Coffee">
    </div>
    <div>
      <video controls>
        <source src="/assets/images/11723578_780079865443661_1031880847_n.ogv" type="video/ogg">
        <source src="/assets/images/11723578_780079865443661_1031880847_n.mp4" type="video/mp4"> Your browser does not support the <code>video</code> element.
      </video>
    </div>
    <div>
      <img src="/assets/images/10724020_942379595813364_724913833_n.jpg" alt="Baking">
    </div>
  </div>
</div>
<div id="contact" class="background-green">
  <h1 class="text-heading text-light text-center text-heading-spacing">Contact me</h1>
</div>
<div class="container theme-showcase contact">
  <p class="copy"><a href="mailto:hello@davidwickman.com"><i class="fa fa-envelope-o"></i> hello@davidwickman.com</a><br><a href="tel:440-220-4225"> <i class="fa fa-phone"></i>(440) 220-4225</a><br><a href="/wickman-resume-public-201512.pdf"><i class="fa fa-file-text-o"></i> My Resume</a></p>
</div>
