---
component: dca
---
<div class="background-none folio">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/downtowncleveland.png" alt="Downtown Cleveland Alliance"></div>
    <div>
      <h2 class="text-center"><a href="http://downtowncleveland.com/">Downtown Cleveland Alliance</a></h2>
      <p>The Downtown Cleveland Alliance website is a fully responsive ecommerce website built using
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Foundation</li>
          <li>Umbraco</li>
        </ul>
      </p>
    </div>
  </div>
</div>
