--- 
component: tft 
---
<div class="background-red folio folio-light">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/toothfairytykes.png" alt="Tooth Fairy Tykes"></div>
    <div>
      <h2 class="text-center"><a href="https://www.toothfairytykes.com/">Tooth Fairy Tykes</a></h2>
      <p>Tooth Fairy Tykes is a fully responsive ecommerce website built using
        <ul>
          <li>HTML5</li>
          <li>SASS</li>
          <li>Angular</li>
          <li>Node</li>
          <li>Stripe</li>
        </ul>
      </p>
    </div>
  </div>
</div>
